<section class="home_section">
  <div class="home_content">
    <div class="home_content_slogan">
      <h1>Aqui Trabalha a minha familía para atender a sua familía !</h1>
    </div>

    <div class="home_main_img">
      <img
        class="home_img"
        src="../../../assets/images/ilustrações/3966816.jpg"
        alt=""
      />
    </div>
  </div>
</section>
<div class="divider"></div>
<section class="sobreNos">
  <div class="sobre_nos_img"></div>
  <div class="sobre_nos_conteudo">
    <h2>Sobre Nós</h2>
    <p>
      Estamos no mercado a mais de 30 anos e temos o prazer de ao longo dos
      anos, estar servindo nossa comunidade e transformando a vida dos nossos
      clientes, com atendimentos de qualidade, profissionais especializados e
      dedicação. <br />
      <br />

      Buscamos sempre novas formas de evoluir, para trazer mais qualidade em
      nossos serviços e promover a satisfação de todos os nosso clientes,
      priorizando o atendimento de qualidade e preciso, para que todas as
      informações e duvidas sobre nossos produtos e serviços sejam esclarecidas
      para todos os nossos clientes.
    </p>
  </div>
</section>

<div class="divider"></div>

<section class="cards">
  <div class="card">
    <div class="img_card"></div>
    <h3>Missão</h3>
    <div class="card_content">
      <p>
        Promover mais saúde e bem estar a todos, servindo com qualidade,
        segurança e Confiança.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="img_card"></div>
    <h3>Visão</h3>
    <div class="card_content">
      <p>
        Ser Aliada de nossos clientes, mantendo seu bem estar, saúde e
        satisfação como prioridade. <br /><br />
        Fornecer um ambiente confiavel, seguro e leve, para promover uma
        experiencia agradavel para nossos clientes e funcionarios.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="img_card"></div>
    <h3>Valores</h3>
    <div class="card_content">
      <ul>
        <li>Cliente satisfeito</li>
        <li>Oferecer atendimentos de qualidade</li>
        <li>Apresentar um ambiente leve e acolhedor</li>
        <li>Seriedade e acolhimento para todos os públicos</li>
        <li>
          Transparência, honestidade e respeito, com todos os clientes e
          funcionários da empresa
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="divider"></div>

<section class="contatos">
  <div class="contatos_content">
    <h2 class="contatos_titulo">Contatos<i></i></h2>
    <ul>
      <li>Telefone:(19) 3861-7897 ou (19) 3361-0716</li>
      <li>E-mail: drogariadias@bol.com.br</li>
      <li>
        Endereço: Av. São Carlos, 791, Vila São Carlos <br />
        Mogi Guaçu, SP.
      </li>
      <li></li>
    </ul>
  </div>
  <div class="contato_map"></div>
</section>
