<main style="width: 100vw">
  <header class="header">
    <img class="header__logotipo" src="../../../assets/images/Logotipos_Novos/Drogaria Dias cruz.svg"
      alt="Logotipo da empresa" />
    <h1>Drogaria Dias</h1>

    <div class="header__menuContainer">
      <ul class="header__menu">
        <li class="header__menu__item">
          <a class="header__menu__link" href="#sobre_nos">Sobre Nós</a>
        </li>
        <li class="header__menu__item"><a class="header__menu__link" href="#filosofia">Filosofia</a></li>
        <li class="header__menu__item">
          <a class="header__menu__link" href="#contatos">Contatos</a>
        </li>
      </ul>
    </div>

  </header>

  <section class="home__section">
    <div class="home__content">


      <img class="home__banner" src="../assets/images/ilustrações/banner-medico-com-medico-segurando-estetoscopio.jpg"
        alt="Imagem com slogan da empresa" />

    </div>
  </section>

  <section id="sobre_nos" class="sobreNos">
    <div class="sobreNos__img"></div>
    <div class="sobreNos__conteudo">
      <h2>Sobre Nós</h2>
      <p>
        Estamos no mercado a mais de 30 anos e temos o prazer de ao longo dos
        anos, estar servindo nossa comunidade e transformando a vida dos nossos
        clientes, com atendimentos de qualidade, profissionais especializados e
        dedicação, para que possamos estar sempre promovendo o bem estar e a saúde de todos os nosso clientes. <br />
        <br />

        Buscamos sempre novas formas de evoluir e de cuidadar melhor não só de nossos clientes,
        mas também de nossa equipe, aqui somos todos uma familía onde estamos sempre ouvindo e
        cuidando uns dos outros. <br>

        Prezamos sempre pela honestidade e segurança com nossos clientes e funcionários, pois acreditamos
        que esses pilares são uma base fundamental para criar um bom serviço e bom relacionamento entre nós da
        Drogaria Dias e nossos clientes, por isso sempre priorizamos passar todas as informações necessárias para
        garantir
        que o tratamento seja 100% efetivo.
        <br>
      </p>
    </div>
  </section>

  <div class="divider"></div>


  <h2 class="valores__title">Nossos Valores</h2>
  <section id="filosofia" class="cards">

    <div class="card">
      <div class="card__img"></div>
      <h3>Missão</h3>
      <div class="card__content">
        <p>
          Promover mais saúde e bem estar a todos, servindo com qualidade,
          segurança e confiança.<br><br>
          Levamos nossa missão com muita seriedade e comprometimento, pois para nós nossos clientes são como membros de
          nossa familía.
        </p>

      </div>
    </div>
    <div class="card">
      <div class="card__img"></div>
      <h3>Visão</h3>

      <div class="card__content">
        <p>
          Ser Aliada de nossos clientes, mantendo seu bem estar, saúde e
          satisfação como prioridade. <br /><br />
          Fornecer um ambiente confiavel, seguro e leve, para promover uma
          experiencia agradavel para nossos clientes e funcionarios.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__img"></div>
      <h3>Valores</h3>
      <div class="card__content">
        <ul class="valores__list">
          <li>Cliente satisfeito.</li>
          <li>Oferecer atendimentos de qualidade.</li>
          <li>Apresentar suporte farmáceutico especializado.</li>
          <li>Seriedade e acolhimento para todos os públicos.</li>
          <li>
            Honestidade e respeito, com todos os clientes e
            funcionários da empresa.
          </li>
        </ul>
      </div>
    </div>
  </section>



  <footer id="contatos" class="contatos">
    <div class="contatos_content">
      <h2 class="contatos_titulo">Contatos<i></i></h2>
      <ul class="contatos__list">
        <li>Telefone:(19) 3861-7897 ou (19) 3361-0716</li>
        <li>E-mail: drogariadias@bol.com.br</li>
        <li>
          Endereço: Av. São Carlos, 791, Vila São Carlos <br />
          Mogi Guaçu, SP.
        </li>
        <li></li>
      </ul>
      <span class="contatos__copyright">copyright <span
          style="display: inline-block; font-size: 16px; color: #ffffff; background: transparent; border-radius: 6px; padding: 0 5px;">©</span>{{year}}
        Drogaria Dias - Todos os direitos reservados</span>
    </div>
  </footer>

</main>
