/* Cabeçalho */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #ee4d52;
  position: fixed;
  z-index: 1;
  padding: 10px;
}

.header>h1 {
  font-size: 2.5rem;
  color: #f8f8f8;
}

.page--scroll {
  scroll-behavior: smooth;
  transition: smooth 3s 1s ease-out;
}

.header__logotipo {
  width: 100px;
  height: 80px;
  margin-left: 40px;
}

.header__menuContainer {
  width: 70%;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__menu__item {
  margin: 0 10px;
  transition: transform 0.2s;
}

.header__menu__item:hover {
  transform: scale(1.2);
}

.header__menu__link {
  text-decoration: none;
  color: #f8f8f8;
  font-weight: bold;
  transition: transform 0.2s;
}

.header__menu__link:hover {
  color: #009dff;

}

@media (max-width: 1024px) {
  .header__logotipo {
    margin: 0 auto;
    margin-top: 10px;
    width: 80px;
    height: 80px;
  }

  .header {
    width: 100%;
  }

  .header__menu {
    flex-direction: column;
    justify-content: flex-end;
  }

  .header__menu__item {
    margin: 0;
  }

  .header__menu__item:hover {
    transform: scale(0.9);
  }
}

/* FIM CONTEUDO HEADER */


/* HOME SECTION */

.home__section {
  width: 100%;
}

.home__banner {
  width: 100%;
  object-fit: cover;

}

/* FIM DO HOME SECTION */


/* SECTION SOBRE NOS */

.sobreNos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  animation: slide-in 2s ease-in-out;
}

.sobreNos__img {
  background-image: url("../assets/images/About\ us.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 550px;
  width: 40%;
  margin-right: 80px;
}

.sobreNos__conteudo {
  width: 60%;
  max-width: 700px;
  padding: 20px;
  text-align: justify;
  line-height: 20px;
  margin-left: 40px;
}

.sobreNos__conteudo>h2 {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  color: #004976;
}

.sobreNos__conteudo>p {
  font-family: "Helvetica";
  font-size: 1.2em;
}


/* FIM DA SECTION SOBRE NOS */

.divider {
  border: 0.2px solid #d9d9d9;
  width: 100%;
  margin-bottom: 15px;
}



/* SECTION FILOSOFIA/VALOR */

.valores__title {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 3rem;
  margin-top: 40px;
  text-align: center;
  padding: 10px;
  color: #004976;
  animation: slide-in 2s ease-in-out;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 600px;
  animation: slide-in 2s ease-in-out;
}



.card {
  border: 0;
  border-radius: 6px;
  box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: 350px;
  width: 250px;
  padding: 10px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(0.90);
}

.card__img {
  background-image: url("../assets/images/ilustrações/visual.png");
  height: 60px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}

.card>h3 {
  font-family: "Fredoka One", cursive;
  margin-top: 10px;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.card__content {
  margin-top: 5px;
  width: 100%;
  padding-right: 25px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content>p {
  width: 90%;
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.card:nth-child(1)>.card__img {
  background-image: url("../assets/images/ilustrações/goal.png");

}

.card:last-child>.card__img {
  background-image: url("../assets/images/ilustrações/balance.png");
  margin-top: -5px;
}

.card:last-child>.card__content>ul {
  width: 100%;
  list-style: inside;
  padding: 10px;
  margin-top: 20px;
}

.card:last-child>.card__content>ul>li {
  margin: 0;
  color: #000;

}


.valores__list li {
  padding: 5px 0;
}


/*CONTATOS*/

.contatos {
  display: flex;
  flex-direction: row;
}

.contatos_content {
  width: 100%;
  padding: 5rem;
  background-color: #ee4d52;
}

.contatos_titulo {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f8f8f8;
}

.contatos_content>ul>li {
  margin-bottom: 10px;
  color: #f8f8f8;
  font-size: 1.015em
}

.contatos__copyright {
  color: #f8f8f8;
  font-size: 1.015em;
}


@media screen and (max-width: 1024px) {
  .header>h1 {
    font-size: 24px;
    width: 65%;
    margin-left: 5px;
  }

  .home__section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home__banner {
    background-image: url('../assets/images/drogaria_dias_mobile.png');
    object-fit: fill;
    object-position: center;
    background-repeat: no-repeat;
    height: 320px;
    width: 100%;
    padding: 0;
    margin: 0;

  }

  .sobreNos {
    flex-direction: column;
  }

  .sobreNos__img {
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .sobreNos__conteudo {
    width: 80%;
    padding: 0 10px;
  }

  .valores__title {
    margin-left: 50px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin: 20px 0;
    width: 300px;
  }

  .contatos {
    display: flex;
  }

  .contatos__content {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .contato__img {
    width: 100%;
    margin: 0;
    background-size: contain;
  }

  .contatos__copyright {
    margin-right: 10px;
  }
}
