<main class="main__content">
  <header class="header">
    <img class="logotipo__navbar" src="../../../assets/images/Logotipos_Novos/Drogaria Dias cruz.svg"
      alt="Logotipo da empresa" />
    <h1>Drogaria Dias</h1>

    <div class="nav_menu">
      <ul class="menu_principal">
        <li class="menu_item">
          <a class="menu_link" href="#sobreNos">Sobre Nós</a>
        </li>
        <li class="menu_item"><a class="menu_link" href="#filosofia">Filosofia</a></li>
        <li class="menu_item">
          <a class="menu_link" href="#contatos">Contatos</a>
        </li>
      </ul>
    </div>

  </header>

  <section class="home_section">
    <div class="home_content">


      <img class="home_img" src="../assets/images/ilustrações/banner-medico-com-medico-segurando-estetoscopio.jpg"
        alt="Imagem com slogan da empresa" />

    </div>
  </section>

  <section id="sobreNos" class="sobreNos">
    <div class="sobre_nos_img"></div>
    <div class="sobre_nos_conteudo">
      <h2>Sobre Nós</h2>
      <p>
        Estamos no mercado a mais de 30 anos e temos o prazer de ao longo dos
        anos, estar servindo nossa comunidade e transformando a vida dos nossos
        clientes, com atendimentos de qualidade, profissionais especializados e
        dedicação, para que possamos estar sempre promovendo o bem estar e a saúde de todos os nosso clientes. <br />
        <br />

        Buscamos sempre novas formas de evoluir e de cuidadar melhor não só de nossos clientes,
        mas também de nossa equipe, aqui somos todos uma familía onde estamos sempre ouvindo e
        cuidando uns dos outros. <br>

        Prezamos sempre pela honestidade e segurança com nossos clientes e funcionários, pois acreditamos
        que esses pilares são uma base fundamental para criar um bom serviço e bom relacionamento entre nós da
        Drogaria Dias e nossos clientes, por isso sempre priorizamos passar todas as informações necessárias para
        garantir
        que o tratamento seja 100% efetivo.
        <br>



        <!-- para trazer mais qualidade em
        nossos serviços e promover a satisfação para todos os nosso clientes,
        priorizando o atendimento de qualidade e preciso, para que todas as
        informações e duvidas sobre nossos produtos e serviços sejam esclarecidas
        para todos os nossos clientes. -->
      </p>
    </div>
  </section>

  <div class="divider"></div>


  <section id="filosofia" class="cards">
    <div class="card">
      <div class="img_card"></div>
      <h3>Missão</h3>
      <div class="card_content">
        <p>
          Promover mais saúde e bem estar a todos, servindo com qualidade,
          segurança e Confiança.
        </p>
        <p>Levamos nossa missão com muita seriedade e comprometimento, pois para nós nossos clientes são como membros de
          nossa familía.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img_card"></div>
      <h3>Visão</h3>

      <div class="card_content">
        <p>
          Ser Aliada de nossos clientes, mantendo seu bem estar, saúde e
          satisfação como prioridade. <br /><br />
          Fornecer um ambiente confiavel, seguro e leve, para promover uma
          experiencia agradavel para nossos clientes e funcionarios.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img_card"></div>
      <h3>Valores</h3>
      <div class="card_content">
        <ul class="valores__list">
          <li>Cliente satisfeito.</li>
          <li>Oferecer atendimentos de qualidade.</li>
          <li>Apresentar suporte farmáceutico especializado.</li>
          <li>Seriedade e acolhimento para todos os públicos.</li>
          <li>
            Honestidade e respeito, com todos os clientes e
            funcionários da empresa.
          </li>
        </ul>
      </div>
    </div>
  </section>



  <footer id="contatos" class="contatos">
    <div class="contatos_content">
      <h2 class="contatos_titulo">Contatos<i></i></h2>
      <ul>
        <li>Telefone:(19) 3861-7897 ou (19) 3361-0716</li>
        <li>E-mail: drogariadias@bol.com.br</li>
        <li>
          Endereço: Av. São Carlos, 791, Vila São Carlos <br />
          Mogi Guaçu, SP.
        </li>
        <li></li>
      </ul>
    </div>
  </footer>

</main>
